@using CollectorsCantina.Web.Components.Pages
@using CollectorsCantina.Web.Enums
@rendermode InteractiveServer

<div id="sidebar-background"></div>
<div id="sidebar">
    <AppLogo />

    <div id="collection-list-container">
        <CollectionList RenderType="CollectionRenderType.Navigation" />
    </div>
</div>