
$body-bg: #131313;
$body-bg-secondary: #1a1a1a;
$body-color: #e2e2e2;
$grey-border: #444;
$grey-form-control: #2a2c2e;
$grey-label-color: #676868;
$grey-content-header-bg: #1D1E1F ;
$primary: #316f3d;
$primary-light: #58A266;
$secondary: #444746;
$sidebar-background: #1b1b1b;

