<div class="container-fluid" id="loading">
    <div class="col-12 pt-3 text-center">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>