@page "/account/login"

<div class="container">
    <div class="row">
        <div class="col-6 col-lg-4">
            <ContentHeader Title="Login" />

            <form @onsubmit="OnSubmit" @formname="loginForm" method="post">
                <AntiforgeryToken />

                @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                {
                    <div class="alert alert-danger">@ErrorMessage</div>
                }

                <label>Username</label>
                <input type="text" name="Username" @bind-value="Username" class="form-control" />

                <br />
                <label>Password</label>
                <input type="password" name="Password" @bind-value="Password" class="form-control" />
                
                <br />
                <input type="submit" value="Login" class="btn btn-primary w-100" />

                <a href="/" class="btn btn-outline-primary w-100 mt-3">Continue as Guest</a>
            </form>
        </div>
    </div>
</div>